@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977f3;
$primary-light: #eef5fe;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
}

.profile {
  & li {
    list-style-type: none;
  }
  &__navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $primary-light;
    width: 100%;
  }
  &__navBar a {
    text-decoration: none;
    color: $gray;
  }
  &__logoContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: $gutter;
  }
  &__logo {
    font-size: 30px;
    font-weight: 400;
  }
  &__miniLogo {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__item {
    padding: $gutter;
    margin-right: 0.5em;
    border-radius: 0.3em;
    &:hover {
      background: $primary;
      color: white;
    }
  }
  &__backgroundImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wallPaper {
    width: $hero-width;
  }
  &__aboutContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__profileImage {
    padding: 1em;
  }
  &__headShot {
    width: $profile-image-width;
    clip-path: circle();
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__aboutMe {
    width: $medium-breakpoint;
    padding: 1em;
  }
  &__fotter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary;
    color: white;
    width: 100%;
    height: $gutter * 4;
  }
}

@media (max-width: $medium-breakpoint) {
  .profile {
    & h1 {
      text-align: center;
    }
    &__navBar {
      display: none;
    }
    &__backgroundImg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $medium-breakpoint;
    }
    &__wallPaper {
      width: $medium-breakpoint;
    }
    &__aboutContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__aboutMe {
      width: $medium-breakpoint;
      padding: 1em;
    }
  }
}

@media (max-width: $small-breakpoint) {
  .profile {
    & h1 {
      text-align: center;
    }
    &__navBar {
      display: none;
    }
    &__backgroundImg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $small-breakpoint;
    }
    &__wallPaper {
      width: $small-breakpoint;
    }
    &__aboutContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__aboutMe {
      width: $small-breakpoint;
      padding: 1em;
    }
  }
}
